<html>
<head>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>Grade Simulator</title>
    <style type="text/css">
        body { background: pink !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
    </style>
</head>
<body>
    <center>
    <h1>{% block header_text %}{% endblock %}</h1>
    <form action="{% block form_action %}{% endblock %}" method="post">
        {% csrf_token %}
        <p>Name:</p><br>
        <input type="text" name="name"><br>
        <p>Password:</p><br>
        <input type="password" name="password" ><br><br>
        <input type="submit" class="btn btn-primary" >
    </form>  

    {% block link %}   
    {% endblock %}

    </center>

</body>
</html>
