<!DOCTYPE html>
<html>
<head><link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<style type="text/css">
   body { background: yellow !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>
</head>
<center>
<body bgcolor="#00BFFF" >
<h2 style = "text-align: center;color:rgb(0, 0, 255);">โปรแกรมจำลองเกรด</h2>
<form action="{% url 'grade:operand'%}" method="post">
{% csrf_token %}

    วิชา:
    <input id='1' type="text" name="subject">
    คะแนนกลางภาค:
    <input id='2' type="number" name="score" step="any" min="0">
    คะแนนเต็ม:
    <input id='3' type="number" name="full" step="any" min="0">
    คะแนนปลายภาค:
    <input id='9' type="number" name="final_score" step="any" min="0">
    คะแนนเต็ม:
    <input id='10' type="number" name="final_full" step="any" min="0"><br><br>
    หน่วยกิต:
    <input id='4' type="number" name="credit" step="any" min="0">
    ค่าเฉลี่ย:
    <input id='7' type="number" name="mean" step="any" min="0">
    ส่วนเบี่ยงเบนมาตรฐาน:
    <input id='8' type="number" name="sd" step="any" min="0">

    <input id='5' class="btn btn-primary" type="submit">

</form>
<br><a id='6' href = "{% url 'grade:show' %}">ดูผลการเรียน</a>
<br><a href = "{% url 'grade:index' %}">กลับสู่หน้าหลัก</a>
</form>
</body>
</center>
</html>
