<html>
<head>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>Grade Simulator</title>
    <style type="text/css">
        body { background: pink !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
    </style>
</head>
<body>
    <center>
    <h1>Something wrong. Please try again!</h1>
    <a href="{% url 'grade:signup' %}" class="btn btn-primary" name="signup">sign up</a>
    </center>
</body>
</html>
