<!DOCTYPE html>
<html>
<head><link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<style type="text/css">
   body { background: pink !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>
</head>
<title>Grade Simulator</title>
<body bgcolor = pink>
<center>
<h2 style = "text-align: center;color:rgb(0, 0, 0);">โปรแกรมจำลองเกรด</h2>
{% load static %}
<img src="{% static "grade/a.jpg" %}" alt="Grade"/><br><br>
<div class="alert alert-danger" role="alert">
  <strong>1.</strong>
  <a href="{% url 'grade:operand' %}" class="alert-link" name="enter_program">คลิ้กที่นี่</a>
  เพื่อเข้าสู่โปรแกรม
</div>
<div class="alert alert-danger" role="alert">
  <strong>2.</strong>
  <a href="{% url 'grade:about' %}" class="alert-link" name="about">คลิ้กที่นี่</a>
  เพื่อดูเกี่ยวกับเรา
</div>
</center>
</body>
</html>
