<html>
<center>
<body bgcolor="#00BFFF">
<h2 style = "text-align: center;color:rgb(255, 255, 0);">โปรแกรมคำนวณเกรด</h2>
<table border=1 style="width:50%">
        <tr>
            <th>วิชา</th>
	    <th>เกรดที่ได้</th>
        </tr>
{% for data in subject_list %}
<tr>
            <td>{{ data.subject}}</td>
		<td>{{ data.total }}</td>
        </tr>
{% endfor %}
<tr>
            <td style="text-align: center;" colspan="3">เกรดเฉลี่ยรวม</td>
        </tr>
</table>
<br><a href = "{% url 'grade:operand' %}">เข้าสู่โปรแกรม</a>
<br><a href = "{% url 'grade:index' %}">กลับสู่หน้าหลัก</a>
</body>
</center>
</html>
