<html>
<head><link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<style type="text/css">
   body { background: pink !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>
</head>
<center>
<body bgcolor= pink>
<h2 style = "text-align: center;color:rgb(0, 0, 255);">โปรแกรมคำนวณเกรด</h2>
<table border=1 style="width:50%">
        <tr>
            <th>วิชา</th>
	    <th>คะแนนที่ได้</th>
            <th>เกรดที่ได้</th>
        </tr>
{% for data in subject_list %}
<tr>
            <td>{{ data.subject}}</td>
		<td>{{ data.total }}</td>
                <td>{{data.grade}}</td>
        </tr>
{% endfor %}
<tr>
            <td style="text-align: center;" colspan="3">เกรดเฉลี่ยรวม  {{ result }}</td>
        </tr>
</table>
<br><a href = "{% url 'grade:operand' %}">เข้าสู่โปรแกรม</a>
<br><a href = "{% url 'grade:index' %}">กลับสู่หน้าหลัก</a>
</body>
</center>
</html>
